@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: disket;
  src: url("../../public/font/Disket-Mono-Regular.ttf");
  font-family: "ABC Diatype Mono";
  src: url("https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.eot");
  src:
    url("https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/fbee28f49e99c472f1f569c6ddc24ebe.svg#ABC Diatype Mono")
      format("svg");
}

@font-face {
  font-family: disket-bold;
  src: url("../../public/font/Disket-Mono-Bold.ttf");
}

@font-face {
  font-family: wreckside;
  src: url("../../public/font/Wreckside.otf");
}

.bg-span {
  background-image: url("../assets/images/bluespanbg.svg");
  background-size: contain; /* Adjust to 'cover' or specific dimensions as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: bottom;
}

.font-disket {
  font-family: disket-bold;
}
.font-vcr {
  font-family: vcr;
}

.overlay {
  width: 100%;
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
  background-color: #000000f8;
}
.overlaymain {
  width: 100%;
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
  background-color: #000000;
}
/* ****************************************************** */

/* Hero Section */
.overlay_hero {
  width: 100%;
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
  background-color: #fffffff8;
}

.overlay_hero:before {
  content: "";
  position: fixed;
  left: -10rem;
  top: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  opacity: 0.8;
  background-image: url(/images/hero_noise.jpeg);
  image-rendering: pixelated;
  pointer-events: none;
  animation: GrainOverlay_noise__MsKWx 5s steps(4) infinite;
}

/* About Section */
.overlay_about {
  width: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #030303f8);
  background-color: #030303f8;
}

.overlay_about:before {
  content: "";
  position: fixed;
  left: -10rem;
  top: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  opacity: 0.8;
  background-image: url(/images/noise_big.webp);
  image-rendering: pixelated;
  pointer-events: none;
  animation: GrainOverlay_noise__MsKWx 5s steps(4) infinite;
}

/* Footer */
.footer {
  width: 100%;
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
  background-color: #fffffff8;
}

/* <canvas data-engine="three.js r156" width="1790" height="1672" style="position: absolute;top: 0px;left: 0px;width: 895px;height: 836px;z-index: 0;" class> */

.footer:before {
  content: "";
  position: fixed;
  left: -10rem;
  top: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  opacity: 0.8;
  background-image: url(/images/footer2.png);
  image-rendering: pixelated;
  pointer-events: none;
  animation: GrainOverlay_noise__MsKWx 5s steps(4) infinite;
}

@keyframes GrainOverlay_noise__MsKWx {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }

  30% {
    transform: translate3d(9rem, -9rem, 0);
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  60% {
    transform: translate3d(2rem, 6rem, 0);
  }

  70% {
    transform: translate3d(7rem, -8rem, 0);
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }

  90% {
    transform: translate3d(6rem, -5rem, 0);
  }

  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

/* Define the style for the scrollbar track */
::-webkit-scrollbar {
  width: 2.5px;
  /* Width of the scrollbar */
}
::-webkit-scrollbar:hover {
  width: 3.5px;
  /* Width of the scrollbar */
}

/* Define the style for the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #484848;
  /* Yellow color */
  border-radius: 10px;
  /* Rounded corners */
}

/* Define the style for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #020202;
  /* Black color */

  /* Rounded corners */
}

::-webkit-scrollbar-track:hover {
  background-color: #c4c4c4;
  /* Black color */

  /* Rounded corners */
}
.bg-logo {
  background-image: url("../assets/images/DEVSOCLOGOBIG.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  font-family: courier;
  src: url("../../public/font/cour.ttf");
}

@font-face {
  font-family: vcr;
  src: url("../../public/font/vcr.ttf");
}

.block-text {
  font-family: courier, monospace;
  font-size: 12px;
  line-height: 1.2; /* Adjust as needed */
}

/* textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
} */
/* Cursor Start */
.cursor {
  /* font-size: 12px; */
  color: #211d1b;
  background-color: #211d1b;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #211d1b;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #211d1b;
  /* content: "devsoc@2024.com:~$"; */
}
#liner.password::before {
  content: "Password:";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
} */
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #313030;
}
.color2 {
  color: #1e1b18;
}
.command {
  color: #211d1b;
  text-shadow: 0 0 1px #211d1b;
}
.error {
  color: #211d1b;
}
.white {
  color: #fff;
}
.inherit,
/* a {
  color: #211d1b;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #73abad;
  color: #211830;
}
a:focus {
  outline: 0;
} */

.butt:hover {
  box-shadow: -3px 4px 0px #232222;
  transition: 0.01s;
  height: 43px;
  width: 100px;
}

/* Lenis Config */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}
