@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Setup */
/* **************************************************************** */
@font-face {
  font-family: disket-bold;
  /* src: url("../../public/assets/font/Disket-Mono-Bold.ttf"); */
  src: url("../../public/assets/font/Disket-Mono-Bold.ttf");
}
.font-disket {
  font-family: disket-bold;
}

@font-face {
  font-family: wreckside;
  src: url("../../public/assets/font/Wreckside.otf");
}
.font-wreckside {
  font-family: wreckside;
}

@font-face {
  font-family: vcr;
  src: url("../../public/assets/font/vcr.ttf");
}
.font-vcr {
  font-family: vcr;
}

@font-face {
  font-family: nokia;
  src: url("../../public/assets/font/nokia.ttf");
}
.font-nokia {
  font-family: nokia;
}

@font-face {
  font-family: courier;
  src: url("../../public/assets/font/cour.ttf");
}
.block-text {
  font-family: courier, monospace;
  font-size: 12px;
  line-height: 1.2; /* Adjust as needed */
}

@media (max-width: 420px) {
  .block-text {
    font-size: 8px;
    line-height: 1.2;
    font-family: courier, monospace;
  }
}
/* **************************************************************** */

.flip {
  transform: scaleX(-1);
}

/* Check if Required */
/* **************************************************************** */
.overlay {
  width: 100%;
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
}
.overlaymain {
  width: 100%;
  height: 100%;
}
/* **************************************************************** */

/* Hero Section */
/* **************************************************************** */
.overlay_hero {
  width: 100%;
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
  background-color: #fffffff8;
}

.overlay_hero:before {
  content: "";
  position: fixed;
  left: -10rem;
  top: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  opacity: 0.8;
  background-image: url(/public/assets/images/glitches/hero_noise.jpeg);
  pointer-events: none;
  animation: GrainOverlay_noise__MsKWx 5s steps(4) infinite;
}
/* **************************************************************** */

/* About Section */
/* **************************************************************** */
.overlay_about {
  width: 100%;
  z-index: 100;
  position: relative;
}
body {
  background-color: #030303;
}

.overlay_about:before {
  content: "";
  position: fixed;
  left: -10rem;
  top: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  opacity: 0.8;
  background-image: url(/public/assets/images/glitches/hero_noise.jpeg);
  image-rendering: pixelated;
  pointer-events: none;
  animation: GrainOverlay_noise__MsKWx 5s steps(4) infinite;
}
/* **************************************************************** */

/* Glitch Effect Keyframes */
/* **************************************************************** */
@keyframes GrainOverlay_noise__MsKWx {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }

  30% {
    transform: translate3d(9rem, -9rem, 0);
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  60% {
    transform: translate3d(2rem, 6rem, 0);
  }

  70% {
    transform: translate3d(7rem, -8rem, 0);
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }

  90% {
    transform: translate3d(6rem, -5rem, 0);
  }

  to {
    transform: translate3d(-7rem, 0, 0);
  }
}
/* **************************************************************** */

/* Webkit Configuration */
/* **************************************************************** */
/* Define the style for the scrollbar track */
::-webkit-scrollbar {
  width: 2.5px;
  /* Width of the scrollbar */
}
::-webkit-scrollbar:hover {
  width: 3.5px;
  /* Width of the scrollbar */
}

/* Define the style for the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #484848;
  /* Yellow color */
  border-radius: 10px;
  /* Rounded corners */
}

/* Define the style for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #020202;
  /* Black color */

  /* Rounded corners */
}

::-webkit-scrollbar-track:hover {
  background-color: #c4c4c4;
  /* Black color */

  /* Rounded corners */
}
/* **************************************************************** */

/* Lenis Config */
/* **************************************************************** */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/* **************************************************************** */

/* Not Required Anymore */
/* **************************************************************** */
/* .bg-logo {
  background-image: url("../assets/images/DEVSOCLOGOBIG.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */
/* **************************************************************** */

/* textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
} */
/* Cursor Start */
.cursor {
  /* font-size: 12px; */
  color: #211d1b;
  background-color: #211d1b;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #211d1b;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #211d1b;
  /* content: "devsoc@2024.com:~$"; */
}
#liner.password::before {
  content: "Password:";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
} */
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #313030;
}
.color2 {
  color: #1e1b18;
}
.command {
  color: #211d1b;
  line-height: 13.5px;
  font-size: 13.3px;
}
.error {
  color: #211d1b;
}
.white {
  color: #fff;
}
.inherit,
/* a {
  color: #211d1b;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #73abad;
  color: #211830;
}
a:focus {
  outline: 0;
} */

.butt:hover {
  box-shadow: -3px 4px 0px #232222;
  transition: 0.01s;
  height: 43px;
  width: 100px;
}

.bg-span {
  background-image: url("../assets/images/bluespanbg.svg");
  background-size: contain; /* Adjust to 'cover' or specific dimensions as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: bottom;
}

.initial {
  font-size: 13px;
  line-height: 13px;
}

.bgImg {
  background-image: url("../../public/assets/images/background.svg");
}

#dottedLine {
  border-bottom: 1.25px dashed #000000;
  border-top: 1.25px dashed #000000;
  height: 2px;
  width: "100vw";
}

#command {
  margin-bottom: 5px;
  margin-top: 5px;
}

#userInput {
  caret-color: #323232;
  line-height: 2;
}

.ascii-art {
  line-height: 0px;
  letter-spacing: 2px;
  font-size: 5px;
  font-weight: bolder;
}

#list {
  list-style: decimal;
  list-style-position: inside;
}
